@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@import '@tabler/icons-webfont/dist/tabler-icons.min.css';

html {
    overflow: hidden;
    font-size: var(--text-base);
}

@theme {
    --text-base: 14px;
}