@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@import '@tabler/icons-webfont/dist/tabler-icons.min.css';

html {
    overflow: hidden;
    font-size: var(--text-base);
    * {
        scrollbar-width: thin;
    }
}

@theme {
    --text-base: 14px;
}
@custom-variant light (@media (prefers-color-scheme: light));

@utility text-heading-1 {
    font-size: var(--text-2xl)
}

@utility text-heading-2 {
    font-size: var(--text-xl)
}

@utility text-heading-3 {
    font-size: var(--text-lg)
}

@utility text-heading-4 {
    font-size: var(--text-base)
}